.github-button {
    display: none;
}

#header {
    display: none;
}

.header {
    display: none;
}


.footer {
    display: none;
}

span.credits.right {
    display: none;
}

@media (max-width: 720px) {
    span.credits.right {
        display: none;
    }
}